body {
	background-color: #000;
}

legend {
	color: #888;
}

.feed  {
	position: absolute;
	left: 0;
}

.btn.btn-default {
	background-color: #000;	
	border: 1px solid #888;
}


.navbar.navbar-default.navbar-fixed-top {
	background-color: #000;	
}